
 Link{
    color: white;
    background-color: transparent;
} 

.details{
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    padding: auto;
}
.details img{
    margin-right: 10%;
}
.myimg{
    padding-right: 30px;
}
.tit{
    color:#47B07F;
}
.Mycards{
    display: grid;
    grid-template-columns: auto auto  auto ;
    grid-template-rows: auto auto ;
    grid-gap: 10px;
}
.dets{
    background-color: #d8f3dc;
}